<h1><%= @title %></h1>
<p>
The income tracker is a simple system for letting project-based freelancers calculate their effective hourly rate. Refresh the page for new sample data. 
</p>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Income</th>
      <th scope="col">Hours</th>
      <th scope="col">Admin Hours</th>
      <th scope="col">Rate</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td><%= @income %></td>
      <td><%= @hours %></td>
      <td><%= @admin %></td>
      <td><%= @rate %></td>
    </tr>
  </tbody>
</table>
