<h1><%= @title %></h1>
<p>
The income tracker is a simple system for letting project-based freelancers calculate their effective hourly rate. 
</p>
<form action="/new" method="post" class="form-inline">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <div class="form-group mr-2">
        <input type="number" placeholder="Income" name="income" class="form-control"/>
    </div>
    <div class="form-group mr-2">
        <input type="number" placeholder="Hours" name="hours" class="form-control"/>
    </div>
    <div class="form-group mr-2">
        <input type="number" placeholder="Admin Hours" name="admin" class="form-control"/>
    </div>
    <button type="submit" class="btn btn-primary">Record Job</button>
</form>
<p>
    
</p>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Income</th>
      <th scope="col">Hours</th>
      <th scope="col">Admin Hours</th>
      <th scope="col">Hourly Rate</th>
      <th scope="col">Admin-Diluted Hourly Rate</th>
    </tr>
  </thead>
  <tbody>
     <% @invoices.each.with_index do |invoice, index| -%>
     <tr>
       <th scope="row"><%= index %></th>
       <td><%= invoice.income %></td>
       <td><%= invoice.hours %></td>
       <td><%= invoice.admin %></td>
       <td><%= (invoice.income / (invoice.hours)).round(2) %></td>
       <td><%= (invoice.income / (invoice.hours + invoice.admin)).round(2) %></td>
     </tr>
    <% end -%>
  </tbody>
</table>
