<h1><%= @title %></h1>
<p>
The income tracker is a simple system for letting project-based freelancers calculate their effective hourly rate. 
</p>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Income</th>
      <th scope="col">Hours</th>
      <th scope="col">Admin Hours</th>
      <th scope="col">Hourly Rate</th>
      <th scope="col">Admin-Diluted Hourly Rate</th>
    </tr>
  </thead>
  <tbody>
     <% @invoices.each.with_index do |invoice, index| -%>
     <tr>
       <th scope="row"><%= index %></th>
       <td><%= invoice.income %></td>
       <td><%= invoice.hours %></td>
       <td><%= invoice.admin %></td>
       <td><%= (invoice.income / (invoice.hours)).round(2) %></td>
       <td><%= (invoice.income / (invoice.hours + invoice.admin)).round(2) %></td>
     </tr>
    <% end -%>
  </tbody>
</table>
